{% load static tailwind_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/2d9aedc924.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100 font-inter">
    <header class="bg-slate-600 text-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 py-1.5 flex items-center justify-between">
        {% if user.is_superuser %}
        	<a href="admin/" class="text-2xl hover:text-gray-200 font-semibold lg:ml-[34rem]">
                👑 Lemonotes
            </a>
        {% else %}
            <h1 class="text-2xl pointer-events-none font-semibold lg:ml-[34rem]">
                🍋 Lemonotes
            </h1>
        {% endif %} 
            <!-- Brand/Title -->

            <!-- Navigation Links -->
            <nav class="flex lg:space-x-12 sm:space-x-4 items-center">
                <a href="{% url 'notes:new-note' %}"
                    class="rounded-[5px] bg-[#648589] hover:bg-[#7ba1a6] lg:mr-0 mr-5 sm:mr-0 px-3 py-2 fa-solid fa-plus text-lg"></a>
                <a href="{% url 'index' %}"
                   class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-lemon mr-5"></a>
                <a href="
                {% if user.is_authenticated %}{% url 'account:settings' %}{% else %}{% url 'account:login' %}{% endif %}"
                   class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-gear mr-5"></a>
                {% if user.is_authenticated %}
                    <a href="{% url 'account:logout' %}" class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-right-from-bracket"></a>
                {% endif %}
            </nav>
        </div>
    </header>
<div class="flex justify-center mt-16">
    <div class="mx-auto flex h-[80%] max-w-lg flex-col md:max-w-none md:flex-row">
       <form method="post">
           {% csrf_token %}
          <div class="px-4 py-20 lg:px-36 md:px-28 w-full sm:px-16">
            <h2 class="mb-8 text-3xl font-bold">Change notes password</h2>
            <div class="mb-6 flex flex-col gap-y-2 gap-x-4 lg:flex-row">
            </div>
            <p class="mb-1 font-medium text-gray-500">New password</p>
            <div class="mb-4 flex flex-col">
              <div class="relative flex overflow-hidden rounded-md sm:w-80 lg:w-full">
                {{ form.password1|add_class:"w-full border-gray-300 bg-white px-8 py-2 text-base text-gray-700 placeholder-gray-400 outline-none rounded-xl" }}
              </div>
            <p class="mb-1 mt-4 font-medium text-gray-500">Confirm new password</p>
            <div class="mb-4 flex flex-col">
              <div class="relative flex overflow-hidden rounded-md sm:w-80 lg:w-full">
                {{ form.password2|add_class:"w-full border-gray-300 bg-white px-8 py-2 text-base text-gray-700 placeholder-gray-400 outline-none rounded-xl" }}
              </div>
            </div>
            <button class="hover:bg-slate-500 rounded-xl bg-slate-600 px-8 py-3 font-bold text-white transition-all" type="submit">Save</button>
          </div>
          </div>
       </form>
    </div>
</div>
</body>
</html>