{% load static tailwind_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>New note</title>
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/2d9aedc924.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100 font-inter">
    <!-- Header -->
    <header class="bg-slate-600 text-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 py-1.5 flex items-center justify-between">
            <h1 class="text-md sm:text-md md:text-lg lg:text-xl pointer-events-none font-semibold md:ml-60 lg:ml-[34rem]">
                🍋 Lemonotes
            </h1>
            <!-- Brand/Title -->

            <!-- Navigation Links -->
            <nav class="flex lg:space-x-12 sm:space-x-4 items-center">
                <a href="{% url 'notes:new-note' %}"
                    class="rounded-[5px] bg-[#648589] hover:bg-[#7ba1a6] lg:mr-0 mr-5 sm:mr-0 px-3 py-2 fa-solid fa-plus text-lg"></a>
                <a href="{% url 'index' %}"
                   class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-lemon mr-5"></a>
                <a href="{% url 'account:settings' %}"
                   class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-gear mr-5"></a>
                <a href="{% url 'account:logout' %}"
                class="hover:bg-slate-500 px-2 py-2 rounded-full text-lg font-lg fa-solid fa-right-from-bracket"></a>
            </nav>
        </div>
    </header>

<!-- Content -->
<div class="mt-14 text-slate-700 mx-8 sm:mx-12 md:mx-24 lg:mx-36">
    <form method="post">
        {% csrf_token %}
        <div class="flex justify-between items-center">
            <div class="flex items-center flex-row">
                <div class="ml-2 lg:text-lg">
                    <div class="relative">
                        <button id="dropdownButton" class="text-slate-400 font-semibold focus:outline-none">
                            Tags: No tag
                            <svg class="w-4 h-4 inline-block ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
    
                        <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-44 bg-gray-100 border border-gray-200 rounded-md shadow-lg">
                            <a href="#" class="block px-4 py-3 text-sm text-gray-600 hover:bg-gray-200">No tag</a>
                            <a href="#" class="block px-4 py-2 text-xl text-blue-400 hover:bg-gray-200">● <span class="text-gray-600 text-sm ml-3">Personal</span></a>
                            <a href="#" class="block px-4 py-2 text-xl text-green-400 hover:bg-gray-200">● <span class="text-gray-600 text-sm ml-3">Work</span></a>
                            <a href="#" class="block px-4 py-2 text-xl text-red-500 hover:bg-gray-200">● <span class="text-gray-600 text-sm ml-3">Important</span></a>
                            <a href="#" class="block px-4 py-2 text-xl text-orange-400 hover:bg-gray-200">● <span class="text-gray-600 text-sm ml-3">List</span></a>
                        </div>
                    </div>
                </div>
                <a href="#note" class="fa-solid fa-lock ml-6 sm:ml-6 md:ml-8 lg:ml-12 text-md sm:text-md md:text-lg lg:text-lg bg-slate-500 rounded-full p-4 px-5 text-gray-100 hover:bg-slate-600 transition"></a>
            </div>
            <div class="mr-8 sm:mr-10">
                <button type="submit" class="fa-solid fa-check mr-3 sm:mr-5 md:mr-8 lg:mr-8 text-md sm:text-md md:text-lg lg:text-xl bg-[#648589] rounded-full px-[20px] p-4 text-gray-100 hover:bg-[#7ba1a6] transition"></button>
                <a href="{{ previous_url }}" class="fa-solid fa-xmark text-md sm:text-md md:text-lg lg:text-xl bg-slate-500 rounded-full p-4 px-5 text-gray-100 hover:bg-slate-600 transition"></a>
            </div>
        </div>
        <p class="ml-4 text-xs mt-8 text-slate-400">New note</p>
        <div class="flex flex-col">
            {{ form.title|add_class:"text-4xl border-none bg-gray-100 border-transparent focus:border-transparent focus:ring-0 mt-2 font-bold" }}
            {{ form.content|add_class:"mt-12 font-medium border-none bg-gray-100 border-transparent focus:border-transparent focus:ring-0 mt-4" }}
        </div>
    </form>
</div>

<!-- Script -->
<script>
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.addEventListener('click', function () {
        dropdownMenu.classList.toggle('hidden');
    });

    // Optional: Close the dropdown if clicked outside
    document.addEventListener('click', function (event) {
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
    
    function auto_grow(element) {
  element.style.height = "5px";
  element.style.height = (element.scrollHeight) + "px";
}
  (function () {
    function textareaAutoHeight(el, offsetTop = 0) {
      el.style.height = 'auto';
      el.style.height = `${el.scrollHeight + offsetTop}px`;
    }

(function () {
  const textareas = [
    '#hs-autoheight-textarea'
  ];

  textareas.forEach((el) => {
    const textarea = document.querySelector(el);
    const overlay = textarea.closest('.hs-overlay');

    if (overlay) {
      const { element } = HSOverlay.getInstance(overlay, true);

      element.on('open', () => textareaAutoHeight(textarea, 3));
    } else textareaAutoHeight(textarea, 3);

    textarea.addEventListener('input', () => {
      textareaAutoHeight(textarea, 3);
    });
  });
})();
})()
</script>
</body>
</html>